@using Models
@model Cars

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Car</title>
</head>
<body>
    <form action="/Home/EditCar" method="post">
        Make:
        <input type="text" name="Make" value="@Model.Make"/> <br />
        Model:
        <input type="text" name="Model" value="@Model.Model"/> <br />
        Model Year:
        <input type="number" name="ModelYear" max="2021" value="@Model.ModelYear"/> <br />
        Body Type: <label>@Model.BodyType</label>
        <select name="BodyType">
            <option hidden disabled selected value> -- select an option -- </option>
            <option value="Hatchback">Hatchback</option>
            <option value="Sedan">Sedan</option>
            <option value="Suv">SUV</option>
            <option value="Coupe">Coupe</option>
            <option value="Van">Van</option>
            <option value="Wagon">Wagon</option>
        </select> <br />
        Combined Fuel Economy:
        <input type="number" name="CombFuelEco" step="0.1" value="@Model.CombFuelEco"/> <br />
        Price Per Day:
        <input type="number" name="PricePerDay" value="@Model.PricePerDay"/> <br />


        <input type="hidden" name="Available" value="@Model.Available" />
        <input type="hidden" name="CarId" value="@Model.CarId" />
        <input type="hidden" name="SalonId" value="@Model.SalonId" />

        <input type="submit" value="Edit Car" />
    </form>
</body>
</html>