@using Models
@model Renters

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditRenter</title>
    <link href="~/navbar.css" rel="stylesheet" />
    <link href="~/form.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="right-side">
            <div class="brand">
                <div>CAR RENTING SERVICE</div>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/AddNewSalon">Add</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/List">List</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/Statistics">Stats</a>
            </div>
        </div>
    </div>

    <div class="pricing-box-container">
        <div class="pricing-box text-center">
            <h1>EDIT THIS RENTER</h1>
            <form action="/Home/EditRenter" method="post">
                <p>Name</p>
                <input type="text" name="Name" value="@Model.Name" required class="input"/> <br />
                <p>Postal Code</p>
                <input type="text" name="PostalCode" value="@Model.PostalCode" required class="input"/> <br />
                <p>City</p>
                <input type="text" name="City" value="@Model.City" required class="input"/> <br />
                <p>Address</p>
                <input type="text" name="Address" value="@Model.Address" required class="input"/> <br />
                <p>Email</p>
                <input type="email" name="Email" value="@Model.Email" required class="input"/> <br />
                <p>Phone Number</p>
                <input type="text" name="PhoneNumber" value="@Model.PhoneNumber" required class="input"/> <br />
                <p>Rented Days</p>
                <input type="number" min="1" name="RentedDays" value="@Model.RentedDays" required class="input"/> <br />

                <input type="hidden" name="CarId" value="@Model.CarId" />
                <input type="hidden" name="RenterId" value="@Model.RenterId" />

                <input type="submit" value="Edit Renter" class="btn-primary"/>
            </form>
        </div>
    </div>
</body>
</html>
