@model IEnumerable<Models.Renters>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListRenters</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/navbar.css" rel="stylesheet" />
    <link href="~/table.css" rel="stylesheet" />
    <link href="~/form.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-image">
        <img src="http://localhost:56193/543042.jpg">
    </div>

    <div class="navbar">
        <div class="right-side">
            <div class="brand">
                <div>CAR RENTING SERVICE</div>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/AddNewSalon">Add</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="/Home/List">List</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/Statistics">Stats</a>
            </div>
        </div>
    </div>

    <input type="button" onclick="location.href='/Home/List';" value="Back" class="btn-primary"/>

    <div class="container">

        <table class="table">
            <thead class="table-header">
                <tr class="table-header">
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.RentedDays)
                    </th>
                    <th class="table-data">
                        RENTED CAR
                    </th>
                    <th class="header__item"></th>
                </tr>
            </thead>
            <tbody class="table-content">
                @foreach (var item in Model)
                {
                    <tr class="table-row">
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.RentedDays)
                        </td>
                        <td class="table-data">
                            <span>@Html.DisplayFor(modelItem => item.Car.Make) @Html.DisplayFor(modelItem => item.Car.Model)</span>
                        </td>
                        <td class="table-data">
                            <input type="button" onclick="location.href='/Home/DeleteRenter?Id=@item.RenterId';" value="Delete" class="btn-primary"/>
                            
                            <input type="button" onclick="location.href='/Home/EditRenter?Id=@item.RenterId';" value="Edit" class="btn-primary"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
