@model IEnumerable<Models.Cars>
@using System.IO;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListCars</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/navbar.css" rel="stylesheet" />
    <link href="~/table.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-image">
        <img src="http://localhost:56193/543042.jpg">
    </div>

    <div class="navbar">
        <div class="right-side">
            <div class="brand">
                <div>CAR RENTING SERVICE</div>
            </div>
        </div>

        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/AddNewSalon">Add</a>
            </div>

            <div class="nav-link-wrapper active-nav-link">
                <a href="/Home/List">List</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/Home/Statistics">Stats</a>
            </div>
        </div>
    </div>

    <input type="button" onclick="location.href = '/Home/List';" value="Back" />

    <div class="container">

        <table class="table">
            <thead class="table-header">
                <tr class="table-header">
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.Make)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.ModelYear)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.BodyType)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.CombFuelEco)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.Available)
                    </th>
                    <th class="header__item">
                        @Html.DisplayNameFor(model => model.PricePerDay)
                    </th>
                    <th class="header__item"></th>
                </tr>
            </thead>
            <tbody class="table-content">
                @foreach (var item in Model)
                {
                    <tr class="table-row">
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.ModelYear)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.BodyType)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.CombFuelEco)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.Available)
                        </td>
                        <td class="table-data">
                            @Html.DisplayFor(modelItem => item.PricePerDay)
                        </td>
                        <td class="table-data">
                            @if (item.Available)
                            {
                                <input type="button" onclick="location.href='/Home/AddNewRenter?Id=@item.CarId';" value="Rent this Car" />
                            }
                            else
                            {
                                <span>Rented...</span>
                            }
                            <br />
                            <input type="button" onclick="location.href='/Home/EditCar?Id=@item.CarId';" value="Edit" />
                            <br />
                            <input type="button" onclick="location.href='/Home/DeleteCar?Id=@item.CarId';" value="Delete" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
